#top {
    font-size: 75px;
    font-style: initial;
    text-align: center;
}
body{
    background-color: lightsalmon;
}
#div1{
    text-align: center;
     background-color: lightslategrey;
}
#div2{
    text-align: center;
    background-color: lightsteelblue;
}
h2{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#list{
    text-align: center;
    font-size: 35px;
}
#div3{
    text-align: center;
    }
li{
    font-size: 35px;
    ;
}
button{
    font-size: 25px;
}
input{
    font-size: 20px;
}